.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/codeStyleSettings.xml
/.idea/dictionaries/
/.idea/misc.xml
/.idea/tasks.xml
/.idea/inspectionProfiles/Duplicate_Resources.xml
.DS_Store
/build
